<section>
    <p> Bienvenido</p>
    <br>
    <br>
    <br>
    <h4> Sistema de Gestion para Biblioteca Publica. Controle y administre de </h4>
    <h4> forma optica y facil el flujo de prestamos y devoluciones de Libros.</h4>
    <br>
    <h4> Esta herramienta le permitira llevar un control completo y detallado de su Biblioteca, </h4>
    <h4> tendra acceso a herramientas especiales para tareas especificas, como lo son:</h4>
    <img src="assets/img/libro.jpg">
    <br>
    <h4>• Préstamos</h4>
    <h4>• Devoluciones</h4>
    <h4>• Registro de Usuarios y Libros Nuevos</h4>
    <h4>• Edicion de Usuarios y Libros existentes</h4>
    <h4>• Eliminar todo tipo de Registros</h4>
    <h4>• Seccion de Reportes de acciones en el sistema </h4>
</section>